<a href="https://colab.research.google.com/github/C9195/phyton_procject/blob/main/genel_notlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
para = 1000
gun=para*1,07
print(gun)

SyntaxError: ignored

In [ ]:
urun_fiyat=100
urun_fiyat_zam=urun_fiyat*1.12
urun_fiyat_indirim=urun_fiyat_zam*0.88
print(urun_fiyat_indirim)

98.56000000000002

In [ ]:
anapara=1000
gunluk=anapara*1.07
hafta=gunluk*7

1000

In [ ]:
b,ana=1000
zam=0.07
gun1=((ana*zam)+ana)
gun2=((gun1*zam)+gun1)
gun3=((gun2*zam)+gun2)
gun4=((gun3*zam)+gun3)
gun5=((gun4*zam)+gun4)
gun6=((gun5*zam)+gun5)
gun7=((gun6*zam)+gun6)
print(gun7)

1605.78147647843

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for sample in sample_list:
  print( f'The type of {sample} is' ,type(sample))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [ ]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [ ]:
[True, []]
[]
()
list['123']
[123]
list()
list[123]
list(123)

TypeError: ignored

In [ ]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

In [ ]:
total = 149
country = "FR"

if country == "FR":
    if total <= 50:
        print("Shipping Cost is  €30")
    elif total <= 100:
        print("Shipping Cost is €15")
    elif total <= 150:
        print("Shipping Costs €10")
    else:
        print("Free Shipping")
if country == "DE": 
    if total <= 50:
        print("Shipping Cost is  €25")
    else:
        print("Free Shipping")

Shipping Costs €10

In [ ]:
#If saved_amount is less than or equal to ps4_price/2 then print : "You must save more, keep saving!"
If saved_amount is greater than ps4_price/2 then print : "You saved more than half, keep saving!"
If saved_amount is greater than ps4_price then print : "Yippee! You can buy your PS4"#

In [ ]:
ps4_price = 100
saved_amount = int(input('Please enter your saved amount: '))
if  saved_amount > ps4_price  :
    print("Yippee! You can buy your PS4")
elif saved_amount > (ps4_price/2):
    print("You saved more than half, keep saving!")
elif saved_amount <= (ps4_price/2) :
    print("You must save more, keep saving!")

Please enter your saved amount: 80
You saved more than half, keep saving!

In [ ]:
#Mrs Brown is a Math teacher. She wants to write a program that gets the numeric grades of her students, assigns them to variable math_mark and prints them as letter-based grades defined below:

85-100 ➔ A (Excellent)
70-84 ➔ B (Good)
60-69 ➔ C (Medium)
45-59 ➔ D (Not Bad)
0-44 ➔ F (Failed)

Write your program using if, elif and else statements.#

In [ ]:
math_mark = int(input('Please enter the mark: '))
if math_mark <=100 and math_mark>=85:
  print("A Excellent")
elif math_mark <=84 and math_mark>=70:
  print("B Good")
elif math_mark <=69 and math_mark>=60:
  print("C Medium")
elif math_mark <=59 and math_mark>=45:
  print("D Not Bad")
else:
  print("F Failed")

Please enter the mark: 12
F Failed

In [ ]:
 max = b
 max = a
if b > max:

 print(max)

IndentationError: ignored

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range(len(weekdays)):
    print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday

In [ ]:
a = 49
while : 
  a > 10 a % 2 != 0 a <= 62
    print(a)
    a += 5

SyntaxError: ignored

In [ ]:
number = int(input('Please enter a number: '))
i =0
while i < number:
  print(i**2)
  i += 1

Please enter a number: 5
0
1
4
9
16

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for sample in sample_list:
  print(type(sample))

<class 'dict'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'tuple'>

In [ ]:
sayilar = [1,2,3,4,5]
for sayi in sayilar:
   print(sayi)

1
2
3
4
5

In [ ]:
x = input(sayı girin)
while x < 12 :
  x+=1
  if x == x*x:
    continue
    print (x*x)

SyntaxError: ignored

In [ ]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Enter your score :100
Your degree: A+

In [ ]:
A = float(input("bir sayı girin :"))
if A%2 ==0:
  print(" A={} bir çift sayıdır.".format(A))
else:
  print ("A bir tek sayıdır")

bir sayı girin :6
 A=6.0 bir çift sayıdır.

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  20
Little higher
What number am I thinking of?  25
Little higher
What number am I thinking of?  30
Little higher
What number am I thinking of?  40
Little higher
What number am I thinking of?  50
Little lower
What number am I thinking of?  45
Little lower
What number am I thinking of?  42
Little higher
What number am I thinking of?  44
Are you a MINDREADER!!!

In [ ]:
number = int(input("bir sayı giriniz"))
if number <0 :
  print("the number is negative")
else : 
  print("the number is positive")

bir sayı giriniz4
the number is positive

In [ ]:
num1 = float(input("enter the num1: "))
num2 = float(input("enter the num2: "))

if num1 >num2 : 
  larger = num1
else :
  larger = num2
print("the larger number is :",larger)

enter the num1: 5
enter the num2: 5
the larger number is : 5.0

In [ ]:
bool_value = False
if bool_value = False :
   print("value is Yes")
else :
   print("value is No")

SyntaxError: ignored

In [ ]:
num1 = float(input("enter num1 :"))
num2 = float(input("enter num2 : "))
num3 = float(input("enter num3 : "))
if (num1>num2) and (num1>num3) :
  print("num1 the largest")
elif (num2>num1) and (num2>num3) :
  print("num2 the largest")
else:
  print("num3 the largest")

enter num1 :9
enter num2 : 8
enter num3 : 7
num1 the largest

In [ ]:
x=0
if x == 3 :
  print("üç")
elif x ==4 :
  print("dört")
elif x==5 :
   print("beş")
else :
  print("sonsuz")
print("kod sonu geldi")

sonsuz
kod sonu geldi

In [ ]:
score = int(input("notunuzu giriniz : "))
if score >= 90 :
  if score >= 95 :
    score_letter = "A+"
  else :
    score_letter = "A"
elif score >=80 :
  if score >= 85 :
    score_letter = "b+"
  else :
    score_letter = "b"
else:
  score_letter = "B-"

print("notunuz: ",score_letter)

notunuzu giriniz : 80
notunuz:  b

In [ ]:
items = (10, 20)
x, y = items

In [ ]:
x

10

In [ ]:
a, _, b, _ = (10,20,30,40)
a

10

In [ ]:
b

30

In [ ]:
x,y,*z = (11,22,33,44,55,66,77)
z

[33, 44, 55, 66, 77]

In [ ]:
x,y,*z,t = (11,22,33,44,55,66,77)
print(x,y,z,t)

11 22 [33, 44, 55, 66] 77

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t w y z" .split()

In [ ]:
letter

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'w',
 'y',
 'z']

In [ ]:
print(set(letter))

{'n', 'm', 'y', 'f', 'r', 'e', 't', 'o', 's', 'b', 'k', 'c', 'l', 'h', 'p', 'a', 'd', 'z', 'w', 'i', 'g', 'j'}

In [ ]:
def kare_bul():
    sayı = int(input("bir sayı girin"))
    çıktı = "{} sayısının karesi {} sayısıdır"
    print(çıktı.format(sayı, sayı**2))

kare_bul()

bir sayı girin14
14 sayısının karesi 196 sayısıdır

In [ ]:
test= {1,"bir",1.0}
len(test)

2

SyntaxError: ignored

In [ ]:
date = "12/07/2021"
set(date)

{'/', '0', '1', '2', '7'}

In [ ]:
a =set ("09/01/2021")
b ={"09"}

In [ ]:
given_list = [1,2,3,3,3,3,4,4,5,5]
unique = set(given_list)
print(unique)

{1, 2, 3, 4, 5}

In [ ]:
test ={given_list}
test

TypeError: ignored

In [ ]:
print(0xA + 0xB + 0xC)

33

In [ ]:
print(r"\nhello")

\nhello

In [ ]:
print("new" "line" "end" 3)

SyntaxError: ignored

In [ ]:
print("new" "line" "end", 3)

newlineend 3

In [ ]:
str1 = "clarsuway"
print(str1[::-1])

yawusralc

In [ ]:
family_dict ={"name1" = "zeynep",
              "name2" = "sare",
              "name3" = "zehra"}

In [ ]:
print(family_dict)

{'name1': 'zeynep', 'name2': 'sare', 'name3': 'zehra'}

In [ ]:
family_dict["name4"] = "erkan"

In [ ]:
print(family_dict)

{'name1': 'zeynep', 'name2': 'sare', 'name3': 'zehra', 'name': 'erkan', 'name4': 'erkan'}

In [ ]:
len(family_dict)

5

In [ ]:
family = dict(name1 = "zeynep", name2 = "sare" , name3 = "zehra")
family

{'name1': 'zeynep', 'name2': 'sare', 'name3': 'zehra'}

In [ ]:
n1 , n2, n3 = 5, 10, 15

In [ ]:
numbers = {n1 : "beş" , n2 :"on" , n3: "onbeş"}
numbers

NameError: ignored

In [ ]:
sayılar = {"tek" : [],
           "çift" : []}

In [ ]:
sayılar

{'tek': [], 'çift': []}

In [ ]:
sayılar["tek"]

[]

In [ ]:
a =set("washington")
b = set("wellington")
print(a&b)
print(a.difference(b))
print(a.union(b))

{'n', 't', 'o', 'w', 'i', 'g'}
{'h', 's', 'a'}
{'n', 'e', 't', 's', 'o', 'l', 'h', 'w', 'i', 'g', 'a'}

In [ ]:
minced = True
bread = True
lettuce = True
onion = True
grocery_store = True

In [ ]:
hamburger = (minced and grocery_store and bread) and (lettuce or onion)

In [ ]:
if hamburger :
  print("bon apetit")

bon apetit

In [ ]:
p= "2020"

In [ ]:
if p <= "2020"
print (a)
  else:
    print(b)

SyntaxError: ignored

In [ ]:
list_1 = ['one', 'four', 'nine']
list_2 = ['@', '*-', 'False']
list_3 = [True, False]
list_4 = [[3], [44], [-12]]
list_5 = [[1, 3], [44, -40], [-12, 1]]

list_1.sort()
list_1

['four', 'nine', 'one']

In [ ]:
list_2.sort()
list_2

['*-', '@', 'False']

In [ ]:
x= tuple(range(1,11))

print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print(type(x))
print(x)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
tuple(x)=list(x)
print(x)

SyntaxError: ignored

In [ ]:
my_list = [4, 5, 2, 1]
my_list.sort()
print(my_list)

In [ ]:
my_list1 = [*range(1,11)]
my_list1.sort()
print(my_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [1,3,7,4,3,0,3,6,3]
frequent= max(set(numbers),key = numbers.count)
print ("the most frequent number is", frequent,"and it was",numbers.count(frequent),"times repeated")

the most frequent number is 3 and it was 4 times repeated

In [ ]:
  left = set("qwertasdfgzxcvb")
  right = set("yuiophjklmn")
 
  a = set(str(input("write a world")))
  
  a&left!=set() and a&right!=set()

write a worlddşsleps

True

In [ ]:
b = "zeynep"
a =input("what is your name?")
if a == b:
  print("Hello,{} your password is KLMN".format(a))
else:
    print("goodbye,{} see you later".format(a))

what is your name?gul
goodbye,gul see you later

In [ ]:
num = int(input("enter a number : "))
basamak = ()

bu bir başlık

In [ ]:
a = 1
print(-a)

-1

In [ ]:
a = 3
b = 4
print ("The sum of {} + {} is : {}".format(a,b,a+b))

The sum of 3 + 4 is : 7

In [ ]:
text = "{:>20}".format("merr")
text

'                merr'

In [ ]:
text = "{:^50}".format("abc")
text

'                       abc                        '

In [ ]:
sayılar = []
sayılar.append(1)
sayılar

[1]

In [ ]:
sayılar.append(2)

In [ ]:
sayılar

[1, 2]

In [ ]:
sayılar.insert(5)
sayılar

TypeError: ignored

In [ ]:
a = 5
b = 3
den = "bu bir deneme {} kacıncı hemde {}". format (a,b)
den

'bu bir deneme 5 kacıncı hemde 3'

In [ ]:
animal ="hippopotamus"
print(animal[1:])

ippopotamus

In [ ]:
print(animal[::-1])

sumatopoppih

In [ ]:
print(animal[-5:-1])

tamu

In [ ]:
print(animal[2:5])

ppo

In [ ]:
print(animal[1:6:2])

ipp

In [ ]:
a = 3
b = 4
c = (a**2+b**2)**0.5
c

5.0

In [ ]:
age = int (input("age : "))
money =str (input("have_money? : "))
boy =input("boy : ")
cigarette_sale = ((age >= 16)and (money)) or (boy)
print(cigarette_sale)
print(type(cigarette_sale))

In [ ]:
a="zeynep"
print(a[-2:-4])

In [ ]:
text = "{:2f} , {:.1f} , {:.4f}".format (3.14532 , 4.3222221 , 6.4536)
text

'3.145320 , 4.3 , 6.4536'

In [ ]:
teext = (ayse , fatma ,ahayriyr , ağzın ,burnun , çürüye .f)

# Yeni Bölüm

In [ ]:
number = 2021
text = "we have reached"
print(text,number)

we have reached 2021

In [ ]:
print("ali\nveli\ndeli")

ali
veli
deli

In [ ]:
print(12,22, False,sep="tüh")

12tüh22tühFalse

In [ ]:
print("hayriye" , end = "-")
print("hayri")

hayriye-hayri

In [ ]:
1 and 0

0

In [ ]:
age = input("are you cigarette addict older than 75 years old True or False: ")
chronic =input("do you have a severe chronic disease? true or false :")
immune = input("is your immun system weak? true or false :")
age1 = (age =="True")
chronic1 = (chronic == "True")
immune1 = (immune == "True")
risk = (age1 or immune1 or chronic1) and "there is a risk of death" or "there is not risk of death"
risk

are you cigarette addict older than 75 years old True or False: False
do you have a severe chronic disease? true or false :False
is your immun system weak? true or false :False

'there is not risk of death'

In [ ]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
print(len([[12, 34, 56]]))

1

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
{
  "nbformat": 4,
  "nbformat_minor": 5,
  "metadata": {
    "kernelspec": {
      "display_name": "Python 3",
      "language": "python",
      "name": "python3"
    },
    "language_info": {
      "codemirror_mode": {
        "name": "ipython",
        "version": 3
      },
      "file_extension": ".py",
      "mimetype": "text/x-python",
      "name": "python",
      "nbconvert_exporter": "python",
      "pygments_lexer": "ipython3",
      "version": "3.8.8"
    },
    "colab": {
      "name": "workshop-2-python-student-version.ipynb",
      "provenance": [],
      "collapsed_sections": [],
      "toc_visible": true
    }
  },
  "cells": [
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "cec2380e"
      },
      "source": [
        "### Code Challenge -1\n",
        "\n",
        "<div class=\"alert alert-block alert-info\">\n",
        "    <b>💡Objective:</b>\n",
        "    <ul>\n",
        "        <li>To improve your <b>boolean logic</b> and <b>arithmetic operator algorithm</b>&nbsp;skills.</li>\n",
        "    </ul>\n",
        "</div>\n",
        "\n",
        "- Using the all following items once each, set a correct boolean expression that returns `write me`. Use the `print()` function to display the result.\n",
        "\n",
        "```python\n",
        "0\n",
        "and\n",
        "not\n",
        "\"write me\"\n",
        "```"
      ],
      "id": "cec2380e"
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "bd5961ea"
      },
      "source": [
        "### Solution - 1"
      ],
      "id": "bd5961ea"
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "f591cc23"
      },
      "source": [
        "print()"
      ],
      "id": "f591cc23",
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "ff55f195"
      },
      "source": [
        "### Code Challenge-2\n",
        "\n",
        "<div class=\"alert alert-block alert-info\">\n",
        "    <b>💡Objective:</b>\n",
        "    <ul>\n",
        "        <li>To improve your <b>boolean logic algorithm</b>&nbsp;and truth value skills.</li>\n",
        "    </ul>\n",
        "</div>\n",
        "\n",
        "- Find out if a given year is a \"leap\" year.\n",
        "\n",
        "  - In the Gregorian calendar, three criteria must be taken into account to identify leap years:\n",
        "  \n",
        "    - The year must be evenly divisible by 4;\n",
        "    - If the year can also be evenly divided by 100, it is not a leap year; unless...(next one)\n",
        "    - The year is also evenly divisible by 400. Then it is a leap year.\n",
        "\n",
        "- According to these rules, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300, and 2500 are not the leap years.\n",
        "\n",
        "- Write a Python program that;\n",
        "  - Takes a 4-digit year from the user,\n",
        "  - Prints `True` if the given year by the user is a leap year, prints `False` otherwise.\n",
        "  \n",
        "> Note that; this question is famous on the web, so that do it yourself to get more benefits from it."
      ],
      "id": "ff55f195"
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "55bc3ee3"
      },
      "source": [
        "### Solution-2"
      ],
      "id": "55bc3ee3"
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "2f651282"
      },
      "source": [
        "\n"
      ],
      "id": "2f651282",
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "22a552e5"
      },
      "source": [
        "### Code Challenge-3\n",
        "\n",
        "<p></p>\n",
        "<div class=\"alert alert-block alert-info\">\n",
        "    <b>💡Objective:</b>\n",
        "    <ul>\n",
        "        <li>To improve your <b>collection </b>type <b>knowledge, </b>using<b> </b><span>new </span><span>built-in<b> function comprehension, string formatting</b></span>&nbsp;and <b>problem solving</b> skills.</li>\n",
        "    </ul>\n",
        "</div>\n",
        "\n",
        "<b>Task - 1 :</b><br>You work for a manufacturer as a programmer and\n",
        "have been asked to calculate the\n",
        "<b>total profit</b> made on the sales of a product. You are given a dictionary (<code>sales</code>) containing the <span><i>cost </i>price</span><span> </span>per unit (in dollars), <span><i>sell </i>price</span><span> </span>per unit (in dollars), and\n",
        "the <span><span>beginning</span></span><i> inventory</i>. Write a program to return the <b>total profit&nbsp;</b>made, <b>rounded&nbsp;</b>to the nearest dollar. Assume all of the <i>inventory</i> has been sold. The <i>name</i> and the <i>keys</i> of\n",
        "the dictionary are constant, so use them as they are.<br>\n",
        "<hr>\n",
        "\n",
        "\n",
        "<p>The example of the <i>values</i> (<i>sell</i>-<i>cost </i>value,&nbsp;<i>inventory</i>) and total <i>profit </i>:</p>\n",
        "\n",
        "```python\n",
        "sales = {\n",
        "  \"cost_value\": 31.87,\n",
        "  \"sell_value\": 45.00,\n",
        "  \"inventory\": 1000\n",
        "}  \n",
        "\n",
        "# the profit will be : 13130\n",
        "````\n",
        "\n",
        "<hr>\n",
        "<p><b>Task - 2 :</b><br>Your boss wants you to prepare the <b>payrolls</b> of the workers in your department. You have to convert the amount of dollars into <i>payroll </i>format. In order to help move things along, you have volunteered to write a code that\n",
        "    will take a float and return the money in the following format (as <i>dollars</i> and <i>cents</i>).&nbsp;</p>\n",
        "<p><br>\n",
        "</p>\n",
        "\n",
        "- Examples :\n",
        "\n",
        "|Given Float Type `amount`|Desired Output|\n",
        "|--|--|\n",
        "|3|\\$3.00|\n",
        "|29.99|\\$29.99|\n",
        "|4.1|\\$4.10|\n",
        "\n",
        "The output should be float type as well and two digits after the period.<br><br>\n",
        "<p></p>"
      ],
      "id": "22a552e5"
    },
    {
      "cell_type": "markdown",
      "metadata": {
        "id": "98cd2f0e"
      },
      "source": [
        "### Solution-3"
      ],
      "id": "98cd2f0e"
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "576823cc"
      },
      "source": [
        "# Task-1\n",
        "\n"
      ],
      "id": "576823cc",
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "63fb6f4b"
      },
      "source": [
        "# Task-2\n",
        "\n"
      ],
      "id": "63fb6f4b",
      "execution_count": null,
      "outputs": []
    },
    {
      "cell_type": "code",
      "metadata": {
        "id": "d3907c41"
      },
      "source": [
        ""
      ],
      "id": "d3907c41",
      "execution_count": null,
      "outputs": []
    }
  ]
}

In [ ]:
my_list1 = [*range(10,0,-1)]

print(my_list1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text ="My two favorite flowers are {0} and {1},".format((flowers[0][2]),(flowers[0][1][1]))
text1="two favorite colors are {0} and {1}.".format((colors[1][0]),(colors[1][1][1]))
print(text,text1)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. {0} I have two children.{1} Data Science is my IT domain.".format(("\n\t"),("\n\t\t"))

print(sentence)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

In [ ]:
month = "{}February{}".format("\t\t")()

print(month)

		February